<%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :content %>
    <%= f.text_area :content %>

    <h4>Select a category:</h4>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
    <h4> Create a category:</h4>
    <%= f.fields_for :categories, post.categories.build do |c| %>
        <$= c.label :name, "Category" %>
        <%= c.text_field :name %>
    <% end %>
    
    <%= f.submit %>
<% end %>
